.container {
	text-align: center;
}

.container h1 {
	font-size: 5rem;
	padding-top: 100px;
	padding-bottom: 3rem;
}

.article {
	text-decoration: none !important;
	color: inherit;
}

footer {
	text-align: center;
}